<h3 mat-dialog-title>My buy</h3>
<mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      placeholder="Buy name"
      [value]="name" #buyName
      (keyup.enter)="closeDialog({ choose: true, name: buyName.value })"
    >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    (click)="closeDialog({ choose: true, name: buyName.value })"
  >
    Ok
  </button>
  <button
    mat-raised-button
    (click)="closeDialog({ choose: false, name: buyName.value })"
  >
    Cancel
  </button>
</mat-dialog-actions>
