<mat-card>
  <mat-card-header>My tasks</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let task of taskList"
      >
        <p class="task-name" [class.completed]="task.completed" (click)="toggleStatus(task.name)">{{ task.name }}</p>
        <button mat-mini-fab (click)="deleteTask(task.name)">Delete</button>
        <button mat-mini-fab (click)="updateTask(task.name)">Update</button>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button (click)="addTask()">Add task</button>
  </mat-card-content>
</mat-card>
