<mat-card>
  <mat-card-title>My shopping list</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let buy of shoppingList; let i = index"
      >
        <p>{{ i+1 }}.</p>
        <p
          class="buy-name"
          [class.completed]="buy.completed"
          (click)="toggleStatus(buy.name)"
        >
          {{ buy.name }}
        </p>
        <div>
          <button
            class="action"
            color="primary"
            mat-mini-fab
            (click)="update(buy.name)"
            [disabled]="buy.completed"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            class="action"
            color="warn"
            mat-mini-fab
            (click)="delete(buy.name)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="add()"
    >
      Add buy
    </button>
  </mat-card-actions>
</mat-card>
