<mat-card>
  <mat-card-title>My shopping list</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let order of shoppingList$ | async; let i = index"
      >
        <p>{{ i+1 }}.</p>
        <p
          class="order-name"
          [class.completed]="order.completed"
          (click)="toggleStatus(i)"
        >
          {{ order.name }}
        </p>
        <div>
          <button
            class="action"
            color="primary"
            mat-mini-fab
            (click)="update(order.name, i)"
            [disabled]="order.completed"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            class="action"
            color="warn"
            mat-mini-fab
            (click)="delete(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="add()"
    >
      Add order
    </button>
  </mat-card-actions>
</mat-card>
